language: php
php:
  - '7.2'
  - hhvm
  - nightly
before_script:
  - composer self-update
  - composer install --prefer-source --no-interaction
before_install: 
  - composer self-update
install:
  - composer install
script:
  - phpunit